@font-face {
  font-family: ubuntu;
  src: url(./ubuntu-font/Ubuntu-Regular.ttf);
}
html {
  margin-top: 0;
}
body {
  font-family: ubuntu;
}
div.breadcrumbs {
  text-align: center;
}
a.breadcrumbs {
  text-decoration: underline;
}
header {
  font-family: ubuntu;
  text-align: center;
  background-color: green;
  color: white;
}
footer {
  text-align:  center;
}
a.go {
  background-color: green;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
a.go:hover {
  text-decoration: none;
}
a.go:visited {
  color:white;
}
a.headerlink {
  color: white;
  text-decoration: none;
}
a.headerlink:hover {
  color: white;
  text-decoration: none;
}
a.headerlink:visited {
  color: white;
  text-decoration: none;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
