@font-face {
  font-family: ubuntu;
  src: url(./ubuntu-font/Ubuntu-Regular.ttf);
}
body {
  font-family: ubuntu;
  text-align: center;
}
header {
  font-family: ubuntu;
  text-align: center;
  background-color: green;
  color: white;
}
table {
  margin-left: auto;
  margin-right: auto;
}
a {
  color: black;
}
a.icon {
  text-decoration: none;
}
